@import 'tailwindcss';

@theme {
    --color-primary: #004e98;
    --color-secondary: #3a6ea5;
    --color-accent: #ff6700;
    --color-light: #ebebeb;
    --color-silver: #c0c0c0;
    
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}
